.photos-container {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: khaki;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  padding: 2rem;
  background-image: url('/assets/images/background-selection.jpg');
  background-size: cover;
}

.photos-container > * {
  margin: 1rem;
}
