<div class="home-page">
  <div class="container">
    <header>
        <p routerLink="/">Photo Sharer</p>
        <div class="top-menu">
          <i (click)="logout()" class="pi pi-power-off"></i>
        </div>
      </header>

    <router-outlet></router-outlet>

    <footer>
     <p>Feito por <b>Carlos Eduardo</b></p>
     <div class="social">
      <a href="mailto:carloseduardo057@gmail.com" class="fa fa-google"></a>
      <a href="https://instagram.com/car_losed" target="_blank" class="fa fa-instagram"></a>
     </div>
     <p>(62) 99214-7541</p>
     <p><b>Todos direitos reservados ©</b></p>
    </footer>
  </div>
</div>
