<div class="home-page">
  <div class="container">
    <header>
      <p>Photo Sharer</p>
    </header>

    <section class="middle">
      <div class="new-album">
        +
      </div>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </section>

    <footer>
     <p>Feito por <b>Carlos Eduardo</b></p>
     <div class="social">
      <a href="mailto:carloseduardo057@gmail.com" class="fa fa-google"></a>
      <a href="https://instagram.com/car_losed" target="_blank" class="fa fa-instagram"></a>
     </div>
     <p>(62) 99214-7541</p>
     <p><b>Todos direitos reservados ©</b></p>
    </footer>
  </div>
</div>
