<div
  class="frame-border"
  [ngStyle]="{
    'border-color': selected ? '#44cf25' : '#9c9797',
    'background-color': selected ? '#44cf25' : 'white'
  }"
>
  <div (click)="emitShowModal(true)" class="image-option">
    <img [src]="imageURL" alt="" />
  </div>
  <button
    (click)="emitLike()"
    pButton
    pRipple
    [ngStyle]="{
      color: selected ? 'white' : 'black',
      'background-color': selected ? 'green' : 'white'
    }"
    type="button"
    icon="pi pi-heart"
    class="p-button-rounded icon"
    [class]="selected ? null : 'p-button-outlined'"
  ></button>

  <button
    pButton
    pRipple
    type="button"
    icon="pi pi-comment"
    class="p-button-rounded comment"
    [ngStyle]="{'background-color': comment.length === 0 ? null : '#1d63cc', 'color': comment.length === 0 ? null : 'white'}"
    (click)="emitShowCommentBox()"
  ></button>
  <app-photo-comment
  (closeCommentBox)="emitShowCommentBox()"
  (data)="emitComment($event)"
  [comment]="comment"
  *ngIf="showCommentBox"></app-photo-comment>
</div>

<!-- The Modal -->
<div
  id="myModal"
  class="modal"
  [ngStyle]="{ display: showModal ? 'block' : 'none' }"
>
  <!-- The Close Button -->
  <span class="close" (click)="emitShowModal(false)">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01" [src]="imageURL" />

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
