.container-login {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/images/background-login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-login > form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 3%;
  padding: 30px;
}

.container-login > form > * {
  margin: 5px 0;
}

.logo {
  text-align: center;
  color: white;
  font-size: 5rem;
  font-family: 'Pacifico', cursive;
}
