<div class="container-login">
  <form [formGroup]="login">

    <div class="logo">
      <p>Photo Sharer</p>
    </div>

    <!--Email-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">E-mail</span>
      </div>
      <input type="text" class="form-control" placeholder="" aria-label="email" aria-describedby="basic-addon1" formControlName="email">
    </div>

    <!--Senha-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Senha</span>
      </div>
      <input type="password" class="form-control" placeholder="" aria-label="password" aria-describedby="basic-addon1" formControlName="password">
    </div>

    <button (click)="makeLogin()" class="btn btn-outline-dark">Entrar</button>
  </form>
</div>
