<div class="container-login">
  <form class="">

    <div class="logo">
      <p>Photo Sharer</p>
    </div>

    <!--Email-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">E-mail</span>
      </div>
      <input type="text" class="form-control" placeholder="" aria-label="email" aria-describedby="basic-addon1">
    </div>

    <!--Senha-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Senha</span>
      </div>
      <input type="password" class="form-control" placeholder="" aria-label="password" aria-describedby="basic-addon1">
    </div>

    <button type="submit" class="btn btn-outline-dark">Entrar</button>
  </form>
</div>
